<div class="container d-flex  justify-content-between">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/shopping (6).webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">  Filé De Peito De Frango Congelado Sadia</h5>
          <p class="card-text">O File de Frango Sadia BDJ 1kg é um produto de alta qualidade.</p>
          <a href="#" class="btn btn-secondary container-fluid"(click)="Comprar()">Compre agora!</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/shopping (1).webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Macarrão</h5>
          <p class="card-text">Macarrão Semolado Espaguete 8 Galo 500g.</p>
          <a href="#" class="btn btn-secondary container-fluid"(click)="Comprar()">Compre agora!</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/shopping (4).webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Molho</h5>
          <p class="card-text">Os Molhos Quero são conhecidos pela alta qualidade e rendimento.</p>
          <a href="#" class="btn btn-secondary container-fluid"(click)="Comprar()">Compre agora!</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/shopping (5).webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Batata Frita</h5>
          <p class="card-text">Batata Carinhas Congelada, da marca Bem Brasil.</p>
          <a href="#" class="btn btn-secondary container-fluid"(click)="Comprar()">Compre agora!</a>
        </div>
      </div>
</div>
